[data-theme="default"][data-variant="dark"] {
    --color-base-00: #1e1e1e;
    --color-base-05: #212121;
    --color-base-10: #242424;
    --color-base-20: #262626;
    --color-base-25: #2a2a2a;
    --color-base-30: #363636;
    --color-base-35: #3f3f3f;
    --color-base-40: #555555;
    --color-base-50: #666666;
    --color-base-60: #999999;
    --color-base-70: #b3b3b3;
    --color-base-90: #e0e0e0;
    --color-base-100: #dadada;

    --color-gray-50: #f6f7f8;
    --color-gray-100: #ebecee;
    --color-gray-200: #d9dce0;
    --color-gray-300: #c2c8ce;
    --color-gray-400: #a5acb5;
    --color-gray-500: #8f96a2;
    --color-gray-600: #7e8492;
    --color-gray-700: #717684;
    --color-gray-800: #5f626e;
    --color-gray-900: #4e515a;
    --color-gray-950: #323439;

    --color-red-50:  #fff2f2;
    --color-red-100: #ffdfdf;
    --color-red-200: #ffc1c1;
    --color-red-300: #ff9999;
    --color-red-400: #ff5959;
    --color-red-500: #f43333;
    --color-red-600: #d42626;
    --color-red-700: #b21f1f;
    --color-red-800: #8c1616;
    --color-red-900: #661111;
    --color-red-950: #2d0505;

    --color-orange-50:  #fff8f1;
    --color-orange-100: #ffecd9;
    --color-orange-200: #ffd9b8;
    --color-orange-300: #ffbf8c;
    --color-orange-400: #ff9f59;
    --color-orange-500: #ff802b;
    --color-orange-600: #e66c20;
    --color-orange-700: #b9521a;
    --color-orange-800: #8a3e14;
    --color-orange-900: #663013;
    --color-orange-950: #331607;

    --color-yellow-50:  #fffdf1;
    --color-yellow-100: #fff9d9;
    --color-yellow-200: #fff3b8;
    --color-yellow-300: #ffea8c;
    --color-yellow-400: #ffde59;
    --color-yellow-500: #ffcf2b;
    --color-yellow-600: #e6b920;
    --color-yellow-700: #b38f1a;
    --color-yellow-800: #8a690f;
    --color-yellow-900: #66510c;
    --color-yellow-950: #332806;

    --color-green-50: #f1fcf1;
    --color-green-100: #dff9df;
    --color-green-200: #c1f1c1;
    --color-green-300: #99e699;
    --color-green-400: #59cf59;
    --color-green-500: #33b433;
    --color-green-600: #259426;
    --color-green-700: #207521;
    --color-green-800: #1e5d1f;
    --color-green-900: #1b4c1c;
    --color-green-950: #092a0b;

    --color-cyan-50:  #f1fcff;
    --color-cyan-100: #dcf3ff;
    --color-cyan-200: #b9e6ff;
    --color-cyan-300: #8ed9ff;
    --color-cyan-400: #59c7ff;
    --color-cyan-500: #2ba9f4;
    --color-cyan-600: #1d87d4;
    --color-cyan-700: #1665b3;
    --color-cyan-800: #124e8c;
    --color-cyan-900: #0f3b66;
    --color-cyan-950: #071d33;

    --color-blue-50: #eff6ff;
    --color-blue-100: #daebff;
    --color-blue-200: #beddff;
    --color-blue-300: #99ccff;
    --color-blue-400: #5daafd;
    --color-blue-500: #3787fa;
    --color-blue-600: #2168ef;
    --color-blue-700: #1952dc;
    --color-blue-800: #1b43b2;
    --color-blue-900: #1c3c8c;
    --color-blue-950: #162655;

    --color-purple-50: #f5f2ff;
    --color-purple-100: #ece8ff;
    --color-purple-200: #dcd4ff;
    --color-purple-300: #c2b2ff;
    --color-purple-400: #b399ff;
    --color-purple-500: #8855fd;
    --color-purple-600: #7b32f5;
    --color-purple-700: #6c20e1;
    --color-purple-800: #5a1abd;
    --color-purple-900: #4b189a;
    --color-purple-950: #2d0c69;

    --color-pink-50:  #fff2f8;
    --color-pink-100: #ffdef1;
    --color-pink-200: #ffc1e2;
    --color-pink-300: #ff99cd;
    --color-pink-400: #ff59b3;
    --color-pink-500: #f43396;
    --color-pink-600: #d4267b;
    --color-pink-700: #b21f62;
    --color-pink-800: #8c144b;
    --color-pink-900: #661034;
    --color-pink-950: #2d0519;
}

@layer utilities {
    [data-theme="default"][data-variant="dark"] {
        /*********************/
        /* Buttons           */
        /*********************/
        [data-role="tab-button"] {
            @apply text-base-100 bg-base-10 border-base-40;
            @apply hover:text-base-90 hover:bg-base-30 hover:border-primary-900;
            @apply focus:ring-2 focus:ring-primary-700;
            @apply transition-colors duration-250 ease-out;
        }

        [data-role="thumbnail-button"] {
            @apply text-base-100 bg-transparent border-primary-700;
            @apply hover:text-base-90 hover:bg-primary-900 hover:border-primary-800;
            @apply focus:ring-2 focus:ring-primary-700;
            @apply transition-colors duration-250 ease-out;
        }

        [data-role="create-button"] {
            @apply text-base-100 bg-transparent border-green-700;
            @apply hover:text-base-90 hover:bg-green-900 hover:border-green-800;
            @apply focus:ring-2 focus:ring-green-600;
            @apply transition-colors duration-250 ease-out;
        }

        [data-role="edit-button"] {
            @apply text-base-100 bg-transparent border-blue-700;
            @apply hover:text-base-90 hover:bg-blue-900 hover:border-blue-800;
            @apply focus:ring-2 focus:ring-blue-600;
            @apply transition-colors duration-250 ease-out;
        }

        [data-role="delete-button"] {
            @apply text-base-100 bg-transparent border-red-700;
            @apply hover:text-base-90 hover:bg-red-900 hover:border-red-800;
            @apply focus:ring-2 focus:ring-red-600;
            @apply transition-colors duration-250 ease-out;
        }

        [data-role="submit-button"] {
            @apply text-base-100 bg-transparent border-primary-700;
            @apply hover:text-base-90 hover:bg-primary-900 hover:border-primary-800;
            @apply focus:ring-2 focus:ring-primary-700;
            @apply transition-colors duration-250 ease-out;
        }

        /*********************/
        /* Searchbar         */
        /*********************/
        [data-role="searchbar"] {
            @apply text-base-100 placeholder-base-90 border-base-40 bg-base-10;
            @apply focus:bg-base-25 focus:ring-2 focus:ring-primary-700 focus:border-primary-800;
            @apply transition-colors duration-250;
        }

        /*********************/
        /* Form              */
        /*********************/
        [data-role="input-group"],
        [data-role="checkbox-section"],
        [data-role="checkbox-group"][data-variant="as-section"],
        [data-role="select-group"] {
            @apply bg-base-20;
        }

        [data-role="input-group"] input,
        [data-role="checkbox-group"] input,
        textarea,
        [data-role="select-group"] select {
            @apply bg-base-10 border-base-40 shadow-sm transform;
            @apply hover:bg-base-20 hover:border-primary-700 hover:shadow-lg hover:-translate-y-0.5;
            @apply focus:bg-base-25 focus:-translate-y-1 focus:outline-primary-800;
            @apply transition duration-300 ease-in-out;
        }

        [data-role="checkbox-group"]:is([data-context="toggle"]) input {
            @apply border-[1px];
            @apply hover:translate-none;
            @apply focus:translate-none ;
            @apply transition-none;
        }
    }
}

[data-theme="default"][data-variant="light"] {
    --color-base-00: #f8f8f8;
    --color-base-05: #f5f5f5;
    --color-base-10: #f2f2f2;
    --color-base-20: #eeeeee;
    --color-base-25: #e3e3e3;
    --color-base-30: #e0e0e0;
    --color-base-35: #d4d4d4;
    --color-base-40: #bdbdbd;
    --color-base-50: #ababab;
    --color-base-60: #707070;
    --color-base-70: #5c5c5c;
    --color-base-90: #2a2a2a;
    --color-base-100: #222222;

    --color-primary-50:  #f2f6fb;
    --color-primary-100: #dde8f5;
    --color-primary-200: #bfd3eb;
    --color-primary-300: #97b5dc;
    --color-primary-400: #7097c8;
    --color-primary-500: #587daf;
    --color-primary-600: #46658e;
    --color-primary-700: #395170;
    --color-primary-800: #2c3e56;
    --color-primary-900: #1d2838;
    --color-primary-950: #111821;

    --color-gray-50: #f6f7f9;
    --color-gray-100: #ebeff3;
    --color-gray-200: #d4dbe3;
    --color-gray-300: #aebdcb;
    --color-gray-400: #8299ae;
    --color-gray-500: #627c95;
    --color-gray-600: #4d637c;
    --color-gray-700: #405064;
    --color-gray-800: #374555;
    --color-gray-900: #323c48;
    --color-gray-950: #1a1f26;

    --color-red-50:  #fbf4f5;
    --color-red-100: #f6dfe0;
    --color-red-200: #efc3c4;
    --color-red-300: #e59a9b;
    --color-red-400: #da6f71;
    --color-red-500: #c95457;
    --color-red-600: #a94446;
    --color-red-700: #863a3b;
    --color-red-800: #653030;
    --color-red-900: #3f1f20;
    --color-red-950: #241313;

    --color-orange-50:  #fdf6f0;
    --color-orange-100: #fae6d0;
    --color-orange-200: #f5d0a7;
    --color-orange-300: #eeb579;
    --color-orange-400: #e3944f;
    --color-orange-500: #d0783a;
    --color-orange-600: #b05f2c;
    --color-orange-700: #8b4b25;
    --color-orange-800: #67391f;
    --color-orange-900: #3f2314;
    --color-orange-950: #25150c;

    --color-yellow-50:  #fcfaeb;
    --color-yellow-100: #f8f1c7;
    --color-yellow-200: #f1e394;
    --color-yellow-300: #e6cf62;
    --color-yellow-400: #d8b43b;
    --color-yellow-500: #bf9528;
    --color-yellow-600: #a07a1f;
    --color-yellow-700: #7e5f19;
    --color-yellow-800: #584416;
    --color-yellow-900: #352910;
    --color-yellow-950: #1f1709;

    --color-green-50:  #f1f9f3;
    --color-green-100: #daf0de;
    --color-green-200: #bce0c2;
    --color-green-300: #95c79b;
    --color-green-400: #6dad75;
    --color-green-500: #528d5a;
    --color-green-600: #43724a;
    --color-green-700: #375b3e;
    --color-green-800: #2b4532;
    --color-green-900: #1c2d22;
    --color-green-950: #111b14;

    --color-cyan-50:  #f0f9fa;
    --color-cyan-100: #d4eff3;
    --color-cyan-200: #b1e0e8;
    --color-cyan-300: #83c7d5;
    --color-cyan-400: #58acc0;
    --color-cyan-500: #3d8fa7;
    --color-cyan-600: #327588;
    --color-cyan-700: #2a5e6d;
    --color-cyan-800: #214955;
    --color-cyan-900: #162f36;
    --color-cyan-950: #0e1e23;

    --color-blue-50:  #f2f6fb;
    --color-blue-100: #dde8f5;
    --color-blue-200: #bfd3eb;
    --color-blue-300: #97b5dc;
    --color-blue-400: #7097c8;
    --color-blue-500: #587daf;
    --color-blue-600: #46658e;
    --color-blue-700: #395170;
    --color-blue-800: #2c3e56;
    --color-blue-900: #1d2838;
    --color-blue-950: #111821;

    --color-purple-50:  #f6f3fa;
    --color-purple-100: #e7def3;
    --color-purple-200: #d0bee8;
    --color-purple-300: #b195d6;
    --color-purple-400: #9473be;
    --color-purple-500: #7a58a4;
    --color-purple-600: #634888;
    --color-purple-700: #513b6c;
    --color-purple-800: #3d2e52;
    --color-purple-900: #261d35;
    --color-purple-950: #161022;

    --color-pink-50:  #fdf4f8;
    --color-pink-100: #f8e1ec;
    --color-pink-200: #f1c4da;
    --color-pink-300: #e29abc;
    --color-pink-400: #cf6d9b;
    --color-pink-500: #b55182;
    --color-pink-600: #95426b;
    --color-pink-700: #783757;
    --color-pink-800: #592b42;
    --color-pink-900: #371a2a;
    --color-pink-950: #211018;
}

@layer utilities {
    [data-theme="default"][data-variant="light"] {
        /*********************/
        /* Buttons           */
        /*********************/
        [data-role="tab-button"] {
            @apply text-base-100 bg-base-10 border-base-40;
            @apply hover:text-base-90 hover:bg-base-30 hover:border-primary-400;
            @apply focus:ring-2 focus:ring-primary-400;
            @apply transition-colors duration-250 ease-out;
        }

        [data-role="thumbnail-button"] {
            @apply text-base-100 bg-transparent border-primary-300;
            @apply hover:text-base-90 hover:bg-primary-300 hover:border-primary-400;
            @apply focus:ring-2 focus:ring-primary-400;
            @apply transition-colors duration-250 ease-out;
        }

        [data-role="create-button"] {
            @apply text-base-100 bg-transparent border-green-400;
            @apply hover:text-base-90 hover:bg-green-400 hover:border-green-500;
            @apply focus:ring-2 focus:ring-green-400;
            @apply transition-colors duration-250 ease-out;
        }

        [data-role="edit-button"] {
            @apply text-base-100 bg-transparent border-blue-400;
            @apply hover:text-base-90 hover:bg-blue-400 hover:border-blue-500;
            @apply focus:ring-2 focus:ring-blue-400;
            @apply transition-colors duration-250 ease-out;
        }

        [data-role="delete-button"] {
            @apply text-base-100 bg-transparent border-red-400;
            @apply hover:text-base-90 hover:bg-red-400 hover:border-red-500;
            @apply focus:ring-2 focus:ring-red-400;
            @apply transition-colors duration-250 ease-out;
        }

        [data-role="submit-button"] {
            @apply text-base-100 bg-transparent border-primary-300;
            @apply hover:text-base-90 hover:bg-primary-300 hover:border-primary-400;
            @apply focus:ring-2 focus:ring-primary-400;
            @apply transition-colors duration-250 ease-out;
        }

        /*********************/
        /* Searchbar         */
        /*********************/
        [data-role="searchbar"] {
            @apply text-base-100 placeholder-base-90 border-base-40 bg-base-10;
            @apply focus:bg-base-25 focus:ring-2 focus:ring-primary-400 focus:border-primary-500;
            @apply transition-colors duration-250;
        }

        /*********************/
        /* Form              */
        /*********************/
        [data-role="input-group"],
        [data-role="checkbox-section"],
        [data-role="checkbox-group"][data-variant="as-section"],
        [data-role="select-group"] {
            @apply bg-base-20;
        }

        [data-role="input-group"] input,
        [data-role="checkbox-group"] input,
        textarea,
        [data-role="select-group"] select {
            @apply bg-base-10 border-base-40 shadow-sm transform;
            @apply hover:bg-base-20 hover:border-primary-300 hover:shadow-lg hover:-translate-y-0.5;
            @apply focus:bg-base-25 focus:-translate-y-1 focus:outline-primary-300;
            @apply transition duration-300 ease-in-out;
        }

        [data-role="checkbox-group"]:is([data-context="toggle"]) input {
            @apply border-[1px];
            @apply hover:translate-none;
            @apply focus:translate-none ;
            @apply transition-none;
        }
    }
}