[data-theme="nord"][data-variant="dark"] {
    --color-base-00: #1F222B;
    --color-base-05: #242833;
    --color-base-10: #2B2F3A;
    --color-base-20: #303543;
    --color-base-25: #353A48;
    --color-base-30: #3A3F4C;
    --color-base-35: #404556;
    --color-base-40: #444B5A;
    --color-base-50: #505768;
    --color-base-60: #6A7285;
    --color-base-70: #8C95A8;
    --color-base-90: #D3D7E0;
    --color-base-100: #E7E9ED;

    --color-primary-50:  #dfe9e4;
    --color-primary-100: #bfd2c8;
    --color-primary-200: #9cb8aa;
    --color-primary-300: #7b9f8e;
    --color-primary-400: #5f8673;
    --color-primary-500: #4a6b5c;
    --color-primary-600: #395548;
    --color-primary-700: #2d4138;
    --color-primary-800: #20302a;
    --color-primary-900: #141f1b;
    --color-primary-950: #0b1210;

    --color-gray-50:  #ECEFF4;
    --color-gray-100: #E5E9F0;
    --color-gray-200: #D8DEE9;
    --color-gray-300: #C1C9D6;
    --color-gray-400: #AAB3C2;
    --color-gray-500: #9099A8;
    --color-gray-600: #79828F;
    --color-gray-700: #606975;
    --color-gray-800: #454C56;
    --color-gray-900: #2E3440;
    --color-gray-950: #1E222A;

    --color-red-50: #EBDCDC;
    --color-red-100: #D9A9A9;
    --color-red-200: #C58686;
    --color-red-300: #C06C6C;
    --color-red-400: #E08B8B;
    --color-red-500: #A86868;
    --color-red-600: #8E5050;
    --color-red-700: #693C3C;
    --color-red-900: #4B2A2A;
    --color-red-950: #351C1C;

    --color-orange-50: #F0E3D7;
    --color-orange-100: #DCB897;
    --color-orange-200: #C99570;
    --color-orange-300: #CC946B;
    --color-orange-400: #E9B286;
    --color-orange-500: #A87452;
    --color-orange-600: #875C3E;
    --color-orange-700: #644531;
    --color-orange-900: #452F20;
    --color-orange-950: #2E1F15;

    --color-yellow-50: #F3EED4;
    --color-yellow-100: #E1D08F;
    --color-yellow-200: #CDB45E;
    --color-yellow-300: #D8C080;
    --color-yellow-400: #EFDC9E;
    --color-yellow-500: #AE9542;
    --color-yellow-600: #887337;
    --color-yellow-700: #66572B;
    --color-yellow-900: #4A3E20;
    --color-yellow-950: #332B15;

    --color-green-50: #DDE8E3;
    --color-green-100: #A7C8B7;
    --color-green-200: #7FAE98;
    --color-green-300: #5E9A84;
    --color-green-400: #8FC9B0;
    --color-green-500: #5C8F77;
    --color-green-600: #476E5D;
    --color-green-700: #345147;
    --color-green-900: #233A32;
    --color-green-950: #162620;

    --color-cyan-50: #D9ECEC;
    --color-cyan-100: #A7D1D1;
    --color-cyan-200: #7FB7B7;
    --color-cyan-300: #5EA8A8;
    --color-cyan-400: #87D0D0;
    --color-cyan-500: #5C9B9B;
    --color-cyan-600: #477979;
    --color-cyan-700: #355E5E;
    --color-cyan-900: #244343;
    --color-cyan-950: #172E2E;

    --color-blue-50: #DCE5EE;
    --color-blue-100: #A9C0DA;
    --color-blue-200: #7D9EC2;
    --color-blue-300: #5E89B4;
    --color-blue-400: #89B3E0;
    --color-blue-500: #5E81A3;
    --color-blue-600: #496783;
    --color-blue-700: #384D66;
    --color-blue-900: #27354A;
    --color-blue-950: #1A2333;

    --color-purple-50: #E3DDF0;
    --color-purple-100: #BFB0DA;
    --color-purple-200: #9D8BC4;
    --color-purple-300: #8970B0;
    --color-purple-400: #B094E3;
    --color-purple-500: #7E6BA8;
    --color-purple-600: #615384;
    --color-purple-700: #473D63;
    --color-purple-900: #312A47;
    --color-purple-950: #221C33;

    --color-pink-50: #F0E3EC;
    --color-pink-100: #D6B4D2;
    --color-pink-200: #C18EBE;
    --color-pink-300: #B17CA6;
    --color-pink-400: #D79DC9;
    --color-pink-500: #A86EA5;
    --color-pink-600: #845683;
    --color-pink-700: #5F3D5F;
    --color-pink-900: #422943;
    --color-pink-950: #2D1A2E;
}

@layer utilities {
    [data-theme="nord"][data-variant="dark"] {
        /*********************/
        /* Buttons           */
        /*********************/
        [data-role="tab-button"] {
            @apply text-base-100 bg-base-10 border-base-40;
            @apply hover:text-base-90 hover:bg-base-30 hover:border-primary-400;
            @apply focus:ring-2 focus:ring-primary-400;
            @apply transition-colors duration-250 ease-out;
        }

        [data-role="thumbnail-button"] {
            @apply text-base-100 bg-transparent border-primary-500;
            @apply hover:text-base-90 hover:bg-primary-600 hover:border-primary-600;
            @apply focus:ring-2 focus:ring-primary-400;
            @apply transition-colors duration-250 ease-out;
        }

        [data-role="create-button"] {
            @apply text-base-100 bg-transparent border-green-500;
            @apply hover:text-base-90 hover:bg-green-600 hover:border-green-600;
            @apply focus:ring-2 focus:ring-green-400;
            @apply transition-colors duration-250 ease-out;
        }

        [data-role="edit-button"] {
            @apply text-base-100 bg-transparent border-blue-500;
            @apply hover:text-base-90 hover:bg-blue-600 hover:border-blue-600;
            @apply focus:ring-2 focus:ring-blue-400;
            @apply transition-colors duration-250 ease-out;
        }

        [data-role="delete-button"] {
            @apply text-base-100 bg-transparent border-red-500;
            @apply hover:text-base-90 hover:bg-red-600 hover:border-red-600;
            @apply focus:ring-2 focus:ring-red-400;
            @apply transition-colors duration-250 ease-out;
        }

        [data-role="submit-button"] {
            @apply text-base-100 bg-transparent border-primary-500;
            @apply hover:text-base-90 hover:bg-primary-600 hover:border-primary-600;
            @apply focus:ring-2 focus:ring-primary-400;
            @apply transition-colors duration-250 ease-out;
        }

        /*********************/
        /* Searchbar         */
        /*********************/
        [data-role="searchbar"] {
            @apply text-base-100 placeholder-base-90 border-base-40 bg-base-10;
            @apply focus:bg-base-25 focus:ring-2 focus:ring-primary-400 focus:border-primary-500;
            @apply transition-colors duration-250;
        }

        /*********************/
        /* Form              */
        /*********************/
        [data-role="input-group"],
        [data-role="checkbox-section"],
        [data-role="checkbox-group"][data-variant="as-section"],
        [data-role="select-group"] {
            @apply bg-base-20;
        }

        [data-role="input-group"] input,
        [data-role="checkbox-group"] input,
        textarea,
        [data-role="select-group"] select {
            @apply bg-base-10 border-base-40 shadow-sm transform;
            @apply hover:bg-base-20 hover:border-primary-300 hover:shadow-lg hover:-translate-y-0.5;
            @apply focus:bg-base-25 focus:-translate-y-1 focus:outline-primary-300;
            @apply transition duration-300 ease-in-out;
        }
    }
}

[data-theme="nord"][data-variant="light"] {
    --color-base-00: #F8FAFB;
    --color-base-05: #F1F5F8;
    --color-base-10: #E6EBF0;
    --color-base-20: #D9E0E6;
    --color-base-25: #D2DAE1;
    --color-base-30: #CBD6DD;
    --color-base-35: #C3CDD5;
    --color-base-40: #B7C2CB;
    --color-base-50: #A7B3BD;
    --color-base-60: #939FA9;
    --color-base-70: #7E8A95;
    --color-base-90: #515A63;
    --color-base-100: #2F343A;

    --color-primary-50:  #fafcfb;
    --color-primary-100: #edf6ef;
    --color-primary-200: #d8ebdc;
    --color-primary-300: #b8d5bd;
    --color-primary-400: #96b898;
    --color-primary-500: #6e9c74;
    --color-primary-600: #55845b;
    --color-primary-700: #466b4b;
    --color-primary-800: #34503a;
    --color-primary-900: #223627;
    --color-primary-950: #121e14;

    --color-gray-50:  #F9FAFB;
    --color-gray-100: #F1F3F5;
    --color-gray-200: #E2E6EA;
    --color-gray-300: #D3D8DE;
    --color-gray-400: #B9C0C8;
    --color-gray-500: #9FA7B0;
    --color-gray-600: #858E99;
    --color-gray-700: #6B7480;
    --color-gray-800: #525A66;
    --color-gray-900: #3A404A;
    --color-gray-950: #272B33;

    --color-red-50:  #e9c8c8;
    --color-red-100: #d9b1b1;
    --color-red-200: #c29191;
    --color-red-300: #a97777;
    --color-red-400: #be8686;
    --color-red-500: #9b6666;
    --color-red-600: #875555;
    --color-red-700: #724747;
    --color-red-900: #573636;
    --color-red-950: #3c2525;

    --color-orange-50:  #edd0b8;
    --color-orange-100: #e1b693;
    --color-orange-200: #d29e78;
    --color-orange-300: #bf8863;
    --color-orange-400: #d09b79;
    --color-orange-500: #b77c55;
    --color-orange-600: #a06a47;
    --color-orange-700: #87583a;
    --color-orange-900: #6a4530;
    --color-orange-950: #4a2f22;

    --color-yellow-50:  #e4d5a5;
    --color-yellow-100: #d6c48d;
    --color-yellow-200: #c4b174;
    --color-yellow-300: #b19d5e;
    --color-yellow-400: #c3af70;
    --color-yellow-500: #9d8b4f;
    --color-yellow-600: #887740;
    --color-yellow-700: #716134;
    --color-yellow-900: #55492a;
    --color-yellow-950: #3b321c;

    --color-green-50:  #b4ccc2;
    --color-green-100: #9bb9ab;
    --color-green-200: #81a394;
    --color-green-300: #65897b;
    --color-green-400: #7b9e8e;
    --color-green-500: #5d8171;
    --color-green-600: #4e6d5e;
    --color-green-700: #3f584d;
    --color-green-900: #2f423b;
    --color-green-950: #1f2d28;

    --color-cyan-50:  #b6d4d4;
    --color-cyan-100: #9cc0c0;
    --color-cyan-200: #84abab;
    --color-cyan-300: #6b9494;
    --color-cyan-400: #7fa8a8;
    --color-cyan-500: #618b8b;
    --color-cyan-600: #527676;
    --color-cyan-700: #446161;
    --color-cyan-900: #334b4b;
    --color-cyan-950: #243535;

    --color-blue-50:  #bac7de;
    --color-blue-100: #a2b3cf;
    --color-blue-200: #8ba0c0;
    --color-blue-300: #7187a8;
    --color-blue-400: #8a9bbc;
    --color-blue-500: #6a7f9f;
    --color-blue-600: #586d8b;
    --color-blue-700: #475977;
    --color-blue-900: #35425b;
    --color-blue-950: #242d40;

    --color-purple-50:  #c5bfe0;
    --color-purple-100: #b2aad4;
    --color-purple-200: #9a91c2;
    --color-purple-300: #8279a8;
    --color-purple-400: #988fbc;
    --color-purple-500: #776f9c;
    --color-purple-600: #655e87;
    --color-purple-700: #544e71;
    --color-purple-900: #3d3956;
    --color-purple-950: #2a283d;

    --color-pink-50:  #d8b8c7;
    --color-pink-100: #c79eb1;
    --color-pink-200: #b2859a;
    --color-pink-300: #9d6d83;
    --color-pink-400: #b08095;
    --color-pink-500: #906274;
    --color-pink-600: #7b5364;
    --color-pink-700: #674554;
    --color-pink-900: #4e333f;
    --color-pink-950: #35242b;
}

@layer utilities {
    [data-theme="nord"][data-variant="light"] {
        /*********************/
        /* Buttons           */
        /*********************/
        [data-role="tab-button"] {
            @apply text-base-100 bg-base-10 border-base-40;
            @apply hover:text-base-90 hover:bg-base-30 hover:border-primary-400;
            @apply focus:ring-2 focus:ring-primary-400;
            @apply transition-colors duration-250 ease-out;
        }

        [data-role="thumbnail-button"] {
            @apply text-base-100 bg-transparent border-primary-300;
            @apply hover:text-base-90 hover:bg-primary-300 hover:border-primary-400;
            @apply focus:ring-2 focus:ring-primary-400;
            @apply transition-colors duration-250 ease-out;
        }

        [data-role="create-button"] {
            @apply text-base-100 bg-transparent border-green-400;
            @apply hover:text-base-90 hover:bg-green-400 hover:border-green-500;
            @apply focus:ring-2 focus:ring-green-400;
            @apply transition-colors duration-250 ease-out;
        }

        [data-role="edit-button"] {
            @apply text-base-100 bg-transparent border-blue-400;
            @apply hover:text-base-90 hover:bg-blue-400 hover:border-blue-500;
            @apply focus:ring-2 focus:ring-blue-400;
            @apply transition-colors duration-250 ease-out;
        }

        [data-role="delete-button"] {
            @apply text-base-100 bg-transparent border-red-400;
            @apply hover:text-base-90 hover:bg-red-400 hover:border-red-500;
            @apply focus:ring-2 focus:ring-red-400;
            @apply transition-colors duration-250 ease-out;
        }

        [data-role="submit-button"] {
            @apply text-base-100 bg-transparent border-primary-300;
            @apply hover:text-base-90 hover:bg-primary-300 hover:border-primary-400;
            @apply focus:ring-2 focus:ring-primary-400;
            @apply transition-colors duration-250 ease-out;
        }

        /*********************/
        /* Searchbar         */
        /*********************/
        [data-role="searchbar"] {
            @apply text-base-100 placeholder-base-90 border-base-40 bg-base-10;
            @apply focus:bg-base-25 focus:ring-2 focus:ring-primary-400 focus:border-primary-500;
            @apply transition-colors duration-250;
        }

        /*********************/
        /* Form              */
        /*********************/
        [data-role="input-group"],
        [data-role="checkbox-section"],
        [data-role="checkbox-group"][data-variant="as-section"],
        [data-role="select-group"] {
            @apply bg-base-20;
        }

        [data-role="input-group"] input,
        [data-role="checkbox-group"] input,
        textarea,
        [data-role="select-group"] select {
            @apply bg-base-10 border-base-40 shadow-sm transform;
            @apply hover:bg-base-20 hover:border-primary-300 hover:shadow-lg hover:-translate-y-0.5;
            @apply focus:bg-base-25 focus:-translate-y-1 focus:outline-primary-300;
            @apply transition duration-300 ease-in-out;
        }
    }
}