<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../styles.css">
    <script defer src="./renderer.js"></script>
    <title>Taxonomina</title>
</head>
<body>
    <header>
        <h1>Taxonomina</h1>
    </header>
    <div>
        <aside>
            <section id="dictionary-section">
                <div>
                    <p id="dictionary-title"></p>
                    <button id="dictionary-dropdown-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down">
                            <path d="m6 9 6 6 6-6"/>
                        </svg>
                    </button>
                </div>
                <p id = "dictionary-description"></p>
            </section>
            <section id="grammatical-category-section">
                <p>Catégories grammaticales</p>
                <button id="grammatical-category-drawer-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down">
                        <path d="m6 9 6 6 6-6"/>
                    </svg>
                </button>
            </section>
            <section id="entry-section">
                <div id="entry-menu">
                    <input id="entry-searchbar" type="text" placeholder="Search...">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus">
                            <path d="M5 12h14"/>
                            <path d="M12 5v14"/>
                        </svg>
                    </button>
                </div>
                <div id="entry-container">

                </div>
            </section>
            <section id="settings-section">
                <button id="settings-window-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings-icon lucide-settings">
                        <path d="M9.671 4.136a2.34 2.34 0 0 1 4.659 0 2.34 2.34 0 0 0 3.319 1.915 2.34 2.34 0 0 1 2.33 4.033 2.34 2.34 0 0 0 0 3.831 2.34 2.34 0 0 1-2.33 4.033 2.34 2.34 0 0 0-3.319 1.915 2.34 2.34 0 0 1-4.659 0 2.34 2.34 0 0 0-3.32-1.915 2.34 2.34 0 0 1-2.33-4.033 2.34 2.34 0 0 0 0-3.831A2.34 2.34 0 0 1 6.35 6.051a2.34 2.34 0 0 0 3.319-1.915"/>
                        <circle cx="12" cy="12" r="3"/>
                    </svg>
                    <span>
                        Paramètres
                    </span>
                </button>
            </section>
        </aside>
        <main id="main-container">
            <section id="left-leaf"></section>
            <section id="right-leaf"></section>
        </main>
    </div>
    <footer>

    </footer>
</body>
</html>