<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../styles.css">
    <title>Taxonomina</title>
</head>
<body>
    <header>
        <h1>Taxonomina</h1>
    </header>
    <div>
        <aside>

        </aside>
        <main>
            <section>
                <p>Aucune entrée existante.</p>
            </section>
            <section>
                <p>Commencer à intéragir avec TXNM pour utiliser ce panneau.</p>
            </section>
        </main>
    </div>
    <footer>

    </footer>
</body>
</html>