@import "tailwindcss";

@import "variables.css";

    [data-theme="default"][data-theme-variant="dark"] {
        --base-00: #1e1e1e;
        --base-05: #212121;
        --base-10: #242424;
        --base-20: #262626;
        --base-25: #2a2a2a;
        --base-30: #363636;
        --base-35: #3f3f3f;
        --base-40: #555555;
        --base-50: #666666;
        --base-60: #999999;
        --base-70: #b3b3b3;
        --base-90: #e0e0e0;
        --base-100: #dadada;

        --gray-50: #f6f7f8;
        --gray-100: #ebecee;
        --gray-200: #d9dce0;
        --gray-300: #c2c8ce;
        --gray-400: #a5acb5;
        --gray-500: #8f96a2;
        --gray-600: #7e8492;
        --gray-700: #717684;
        --gray-800: #5f626e;
        --gray-900: #4e515a;
        --gray-950: #323439;

        --red-50:  #fff2f2;
        --red-100: #ffdfdf;
        --red-200: #ffc1c1;
        --red-300: #ff9999;
        --red-400: #ff5959;
        --red-500: #f43333;
        --red-600: #d42626;
        --red-700: #b21f1f;
        --red-800: #8c1616;
        --red-900: #661111;
        --red-950: #2d0505;

        --orange-50:  #fff8f1;
        --orange-100: #ffecd9;
        --orange-200: #ffd9b8;
        --orange-300: #ffbf8c;
        --orange-400: #ff9f59;
        --orange-500: #ff802b;
        --orange-600: #e66c20;
        --orange-700: #b9521a;
        --orange-800: #8a3e14;
        --orange-900: #663013;
        --orange-950: #331607;

        --yellow-50:  #fffdf1;
        --yellow-100: #fff9d9;
        --yellow-200: #fff3b8;
        --yellow-300: #ffea8c;
        --yellow-400: #ffde59;
        --yellow-500: #ffcf2b;
        --yellow-600: #e6b920;
        --yellow-700: #b38f1a;
        --yellow-800: #8a690f;
        --yellow-900: #66510c;
        --yellow-950: #332806;

        --green-50: #f1fcf1;
        --green-100: #dff9df;
        --green-200: #c1f1c1;
        --green-300: #99e699;
        --green-400: #59cf59;
        --green-500: #33b433;
        --green-600: #259426;
        --green-700: #207521;
        --green-800: #1e5d1f;
        --green-900: #1b4c1c;
        --green-950: #092a0b;

        --cyan-50:  #f1fcff;
        --cyan-100: #dcf3ff;
        --cyan-200: #b9e6ff;
        --cyan-300: #8ed9ff;
        --cyan-400: #59c7ff;
        --cyan-500: #2ba9f4;
        --cyan-600: #1d87d4;
        --cyan-700: #1665b3;
        --cyan-800: #124e8c;
        --cyan-900: #0f3b66;
        --cyan-950: #071d33;

        --blue-50: #eff6ff;
        --blue-100: #daebff;
        --blue-200: #beddff;
        --blue-300: #99ccff;
        --blue-400: #5daafd;
        --blue-500: #3787fa;
        --blue-600: #2168ef;
        --blue-700: #1952dc;
        --blue-800: #1b43b2;
        --blue-900: #1c3c8c;
        --blue-950: #162655;

        --purple-50: #f5f2ff;
        --purple-100: #ece8ff;
        --purple-200: #dcd4ff;
        --purple-300: #c2b2ff;
        --purple-400: #b399ff;
        --purple-500: #8855fd;
        --purple-600: #7b32f5;
        --purple-700: #6c20e1;
        --purple-800: #5a1abd;
        --purple-900: #4b189a;
        --purple-950: #2d0c69;

        --pink-50:  #fff2f8;
        --pink-100: #ffdef1;
        --pink-200: #ffc1e2;
        --pink-300: #ff99cd;
        --pink-400: #ff59b3;
        --pink-500: #f43396;
        --pink-600: #d4267b;
        --pink-700: #b21f62;
        --pink-800: #8c144b;
        --pink-900: #661034;
        --pink-950: #2d0519;
    }

    [data-theme="nord"][data-theme-variant="light"] {
        --base-00: #F8FAFB;
        --base-05: #F1F5F8;
        --base-10: #E6EBF0;
        --base-20: #D9E0E6;
        --base-25: #D2DAE1;
        --base-30: #CBD6DD;
        --base-35: #C3CDD5;
        --base-40: #B7C2CB;
        --base-50: #A7B3BD;
        --base-60: #939FA9;
        --base-70: #7E8A95;
        --base-90: #515A63;
        --base-100: #2F343A;

        --primary-50:  #fafcfb;
        --primary-100: #edf6ef;
        --primary-200: #d8ebdc;
        --primary-300: #b8d5bd;
        --primary-400: #96b898;
        --primary-500: #6e9c74;
        --primary-600: #55845b;
        --primary-700: #466b4b;
        --primary-800: #34503a;
        --primary-900: #223627;
        --primary-950: #121e14;

        --gray-50:  #F9FAFB;
        --gray-100: #F1F3F5;
        --gray-200: #E2E6EA;
        --gray-300: #D3D8DE;
        --gray-400: #B9C0C8;
        --gray-500: #9FA7B0;
        --gray-600: #858E99;
        --gray-700: #6B7480;
        --gray-800: #525A66;
        --gray-900: #3A404A;
        --gray-950: #272B33;

        --red-50:  #e9c8c8;
        --red-100: #d9b1b1;
        --red-200: #c29191;
        --red-300: #a97777;
        --red-400: #be8686;
        --red-500: #9b6666;
        --red-600: #875555;
        --red-700: #724747;
        --red-900: #573636;
        --red-950: #3c2525;

        --orange-50:  #edd0b8;
        --orange-100: #e1b693;
        --orange-200: #d29e78;
        --orange-300: #bf8863;
        --orange-400: #d09b79;
        --orange-500: #b77c55;
        --orange-600: #a06a47;
        --orange-700: #87583a;
        --orange-900: #6a4530;
        --orange-950: #4a2f22;

        --yellow-50:  #e4d5a5;
        --yellow-100: #d6c48d;
        --yellow-200: #c4b174;
        --yellow-300: #b19d5e;
        --yellow-400: #c3af70;
        --yellow-500: #9d8b4f;
        --yellow-600: #887740;
        --yellow-700: #716134;
        --yellow-900: #55492a;
        --yellow-950: #3b321c;

        --green-50:  #b4ccc2;
        --green-100: #9bb9ab;
        --green-200: #81a394;
        --green-300: #65897b;
        --green-400: #7b9e8e;
        --green-500: #5d8171;
        --green-600: #4e6d5e;
        --green-700: #3f584d;
        --green-900: #2f423b;
        --green-950: #1f2d28;

        --cyan-50:  #b6d4d4;
        --cyan-100: #9cc0c0;
        --cyan-200: #84abab;
        --cyan-300: #6b9494;
        --cyan-400: #7fa8a8;
        --cyan-500: #618b8b;
        --cyan-600: #527676;
        --cyan-700: #446161;
        --cyan-900: #334b4b;
        --cyan-950: #243535;

        --blue-50:  #bac7de;
        --blue-100: #a2b3cf;
        --blue-200: #8ba0c0;
        --blue-300: #7187a8;
        --blue-400: #8a9bbc;
        --blue-500: #6a7f9f;
        --blue-600: #586d8b;
        --blue-700: #475977;
        --blue-900: #35425b;
        --blue-950: #242d40;

        --purple-50:  #c5bfe0;
        --purple-100: #b2aad4;
        --purple-200: #9a91c2;
        --purple-300: #8279a8;
        --purple-400: #988fbc;
        --purple-500: #776f9c;
        --purple-600: #655e87;
        --purple-700: #544e71;
        --purple-900: #3d3956;
        --purple-950: #2a283d;

        --pink-50:  #d8b8c7;
        --pink-100: #c79eb1;
        --pink-200: #b2859a;
        --pink-300: #9d6d83;
        --pink-400: #b08095;
        --pink-500: #906274;
        --pink-600: #7b5364;
        --pink-700: #674554;
        --pink-900: #4e333f;
        --pink-950: #35242b;
    }

    [data-theme="nord"][data-theme-variant="dark"] {
        --base-00: #1F222B;
        --base-05: #242833;
        --base-10: #2B2F3A;
        --base-20: #303543;
        --base-25: #353A48;
        --base-30: #3A3F4C;
        --base-35: #404556;
        --base-40: #444B5A;
        --base-50: #505768;
        --base-60: #6A7285;
        --base-70: #8C95A8;
        --base-90: #D3D7E0;
        --base-100: #E7E9ED;

        --primary-50:  #dfe9e4;
        --primary-100: #bfd2c8;
        --primary-200: #9cb8aa;
        --primary-300: #7b9f8e;
        --primary-400: #5f8673;
        --primary-500: #4a6b5c;
        --primary-600: #395548;
        --primary-700: #2d4138;
        --primary-800: #20302a;
        --primary-900: #141f1b;
        --primary-950: #0b1210;

        --gray-50:  #ECEFF4;
        --gray-100: #E5E9F0;
        --gray-200: #D8DEE9;
        --gray-300: #C1C9D6;
        --gray-400: #AAB3C2;
        --gray-500: #9099A8;
        --gray-600: #79828F;
        --gray-700: #606975;
        --gray-800: #454C56;
        --gray-900: #2E3440;
        --gray-950: #1E222A;

        --red-50: #EBDCDC;
        --red-100: #D9A9A9;
        --red-200: #C58686;
        --red-300: #C06C6C;
        --red-400: #E08B8B;
        --red-500: #A86868;
        --red-600: #8E5050;
        --red-700: #693C3C;
        --red-900: #4B2A2A;
        --red-950: #351C1C;

        --orange-50: #F0E3D7;
        --orange-100: #DCB897;
        --orange-200: #C99570;
        --orange-300: #CC946B;
        --orange-400: #E9B286;
        --orange-500: #A87452;
        --orange-600: #875C3E;
        --orange-700: #644531;
        --orange-900: #452F20;
        --orange-950: #2E1F15;

        --yellow-50: #F3EED4;
        --yellow-100: #E1D08F;
        --yellow-200: #CDB45E;
        --yellow-300: #D8C080;
        --yellow-400: #EFDC9E;
        --yellow-500: #AE9542;
        --yellow-600: #887337;
        --yellow-700: #66572B;
        --yellow-900: #4A3E20;
        --yellow-950: #332B15;

        --green-50: #DDE8E3;
        --green-100: #A7C8B7;
        --green-200: #7FAE98;
        --green-300: #5E9A84;
        --green-400: #8FC9B0;
        --green-500: #5C8F77;
        --green-600: #476E5D;
        --green-700: #345147;
        --green-900: #233A32;
        --green-950: #162620;

        --cyan-50: #D9ECEC;
        --cyan-100: #A7D1D1;
        --cyan-200: #7FB7B7;
        --cyan-300: #5EA8A8;
        --cyan-400: #87D0D0;
        --cyan-500: #5C9B9B;
        --cyan-600: #477979;
        --cyan-700: #355E5E;
        --cyan-900: #244343;
        --cyan-950: #172E2E;

        --blue-50: #DCE5EE;
        --blue-100: #A9C0DA;
        --blue-200: #7D9EC2;
        --blue-300: #5E89B4;
        --blue-400: #89B3E0;
        --blue-500: #5E81A3;
        --blue-600: #496783;
        --blue-700: #384D66;
        --blue-900: #27354A;
        --blue-950: #1A2333;

        --purple-50: #E3DDF0;
        --purple-100: #BFB0DA;
        --purple-200: #9D8BC4;
        --purple-300: #8970B0;
        --purple-400: #B094E3;
        --purple-500: #7E6BA8;
        --purple-600: #615384;
        --purple-700: #473D63;
        --purple-900: #312A47;
        --purple-950: #221C33;

        --pink-50: #F0E3EC;
        --pink-100: #D6B4D2;
        --pink-200: #C18EBE;
        --pink-300: #B17CA6;
        --pink-400: #D79DC9;
        --pink-500: #A86EA5;
        --pink-600: #845683;
        --pink-700: #5F3D5F;
        --pink-900: #422943;
        --pink-950: #2D1A2E;
    }
}

@theme {
    --color-base-00: var(--base-00);
    --color-base-05: var(--base-05);
    --color-base-10: var(--base-10);
    --color-base-20: var(--base-20);
    --color-base-25: var(--base-25);
    --color-base-30: var(--base-30);
    --color-base-35: var(--base-35);
    --color-base-40: var(--base-40);
    --color-base-50: var(--base-50);
    --color-base-60: var(--base-60);
    --color-base-70: var(--base-70);
    --color-base-90: var(--base-90);
    --color-base-100: var(--base-100);

    --color-primary-50:  var(--primary-50);
    --color-primary-100: var(--primary-100);
    --color-primary-200: var(--primary-200);
    --color-primary-300: var(--primary-300);
    --color-primary-400: var(--primary-400);
    --color-primary-500: var(--primary-500);
    --color-primary-600: var(--primary-600);
    --color-primary-700: var(--primary-700);
    --color-primary-800: var(--primary-800);
    --color-primary-900: var(--primary-900);
    --color-primary-950: var(--primary-950);

    --color-gray-50:  var(--gray-50);
    --color-gray-100: var(--gray-100);
    --color-gray-200: var(--gray-200);
    --color-gray-300: var(--gray-300);
    --color-gray-400: var(--gray-400);
    --color-gray-500: var(--gray-500);
    --color-gray-600: var(--gray-600);
    --color-gray-700: var(--gray-700);
    --color-gray-800: var(--gray-800);
    --color-gray-900: var(--gray-900);
    --color-gray-950: var(--gray-950);

    --color-red-50: var(--red-50);
    --color-red-100: var(--red-100);
    --color-red-200: var(--red-200);
    --color-red-300: var(--red-300);
    --color-red-400: var(--red-400);
    --color-red-500: var(--red-500);
    --color-red-600: var(--red-600);
    --color-red-700: var(--red-700);
    --color-red-800: var(--red-800);
    --color-red-900: var(--red-900);
    --color-red-950: var(--red-950);

    --color-orange-50: var(--orange-50);
    --color-orange-100: var(--orange-100);
    --color-orange-200: var(--orange-200);
    --color-orange-300: var(--orange-300);
    --color-orange-400: var(--orange-400);
    --color-orange-500: var(--orange-500);
    --color-orange-600: var(--orange-600);
    --color-orange-700: var(--orange-700);
    --color-orange-800: var(--orange-800);
    --color-orange-900: var(--orange-900);
    --color-orange-950: var(--orange-950);

    --color-yellow-50: var(--yellow-50);
    --color-yellow-100: var(--yellow-100);
    --color-yellow-200: var(--yellow-200);
    --color-yellow-300: var(--yellow-300);
    --color-yellow-400: var(--yellow-400);
    --color-yellow-500: var(--yellow-500);
    --color-yellow-600: var(--yellow-600);
    --color-yellow-700: var(--yellow-700);
    --color-yellow-800: var(--yellow-800);
    --color-yellow-900: var(--yellow-900);
    --color-yellow-950: var(--yellow-950);

    --color-green-50: var(--green-50);
    --color-green-100: var(--green-100);
    --color-green-200: var(--green-200);
    --color-green-300: var(--green-300);
    --color-green-400: var(--green-400);
    --color-green-500: var(--green-500);
    --color-green-600: var(--green-600);
    --color-green-700: var(--green-700);
    --color-green-800: var(--green-800);
    --color-green-900: var(--green-900);
    --color-green-950: var(--green-950);

    --color-cyan-50: var(--cyan-50);
    --color-cyan-100: var(--cyan-100);
    --color-cyan-200: var(--cyan-200);
    --color-cyan-300: var(--cyan-300);
    --color-cyan-400: var(--cyan-400);
    --color-cyan-500: var(--cyan-500);
    --color-cyan-600: var(--cyan-600);
    --color-cyan-700: var(--cyan-700);
    --color-cyan-800: var(--cyan-800);
    --color-cyan-900: var(--cyan-900);
    --color-cyan-950: var(--cyan-950);

    --color-blue-50: var(--blue-50);
    --color-blue-100: var(--blue-100);
    --color-blue-200: var(--blue-200);
    --color-blue-300: var(--blue-300);
    --color-blue-400: var(--blue-400);
    --color-blue-500: var(--blue-500);
    --color-blue-600: var(--blue-600);
    --color-blue-700: var(--blue-700);
    --color-blue-800: var(--blue-800);
    --color-blue-900: var(--blue-900);
    --color-blue-950: var(--blue-950);

    --color-purple-50: var(--purple-50);
    --color-purple-100: var(--purple-100);
    --color-purple-200: var(--purple-200);
    --color-purple-300: var(--purple-300);
    --color-purple-400: var(--purple-400);
    --color-purple-500: var(--purple-500);
    --color-purple-600: var(--purple-600);
    --color-purple-700: var(--purple-700);
    --color-purple-800: var(--purple-800);
    --color-purple-900: var(--purple-900);
    --color-purple-950: var(--purple-950);

    --color-pink-50: var(--pink-50);
    --color-pink-100: var(--pink-100);
    --color-pink-200: var(--pink-200);
    --color-pink-300: var(--pink-300);
    --color-pink-400: var(--pink-400);
    --color-pink-500: var(--pink-500);
    --color-pink-600: var(--pink-600);
    --color-pink-700: var(--pink-700);
    --color-pink-800: var(--pink-800);
    --color-pink-900: var(--pink-900);
    --color-pink-950: var(--pink-950);
}

