@layer base {
    [data-theme="default"][data-theme-variant="light"] {
        --color-base-00: #f8f8f8;
        --color-base-05: #f5f5f5;
        --color-base-10: #f2f2f2;
        --color-base-20: #eeeeee;
        --color-base-25: #e3e3e3;
        --color-base-30: #e0e0e0;
        --color-base-35: #d4d4d4;
        --color-base-40: #bdbdbd;
        --color-base-50: #ababab;
        --color-base-60: #707070;
        --color-base-70: #5c5c5c;
        --color-base-90: #2a2a2a;
        --color-base-100: #222222;

        --color-primary-50:  #f2f6fb;
        --color-primary-100: #dde8f5;
        --color-primary-200: #bfd3eb;
        --color-primary-300: #97b5dc;
        --color-primary-400: #7097c8;
        --color-primary-500: #587daf;
        --color-primary-600: #46658e;
        --color-primary-700: #395170;
        --color-primary-800: #2c3e56;
        --color-primary-900: #1d2838;
        --color-primary-950: #111821;

        --color-gray-50: #f6f7f9;
        --color-gray-100: #ebeff3;
        --color-gray-200: #d4dbe3;
        --color-gray-300: #aebdcb;
        --color-gray-400: #8299ae;
        --color-gray-500: #627c95;
        --color-gray-600: #4d637c;
        --color-gray-700: #405064;
        --color-gray-800: #374555;
        --color-gray-900: #323c48;
        --color-gray-950: #1a1f26;

        --color-red-50:  #fbf4f5;
        --color-red-100: #f6dfe0;
        --color-red-200: #efc3c4;
        --color-red-300: #e59a9b;
        --color-red-400: #da6f71;
        --color-red-500: #c95457;
        --color-red-600: #a94446;
        --color-red-700: #863a3b;
        --color-red-800: #653030;
        --color-red-900: #3f1f20;
        --color-red-950: #241313;

        --color-orange-50:  #fdf6f0;
        --color-orange-100: #fae6d0;
        --color-orange-200: #f5d0a7;
        --color-orange-300: #eeb579;
        --color-orange-400: #e3944f;
        --color-orange-500: #d0783a;
        --color-orange-600: #b05f2c;
        --color-orange-700: #8b4b25;
        --color-orange-800: #67391f;
        --color-orange-900: #3f2314;
        --color-orange-950: #25150c;

        --color-yellow-50:  #fcfaeb;
        --color-yellow-100: #f8f1c7;
        --color-yellow-200: #f1e394;
        --color-yellow-300: #e6cf62;
        --color-yellow-400: #d8b43b;
        --color-yellow-500: #bf9528;
        --color-yellow-600: #a07a1f;
        --color-yellow-700: #7e5f19;
        --color-yellow-800: #584416;
        --color-yellow-900: #352910;
        --color-yellow-950: #1f1709;

        --color-green-50:  #f1f9f3;
        --color-green-100: #daf0de;
        --color-green-200: #bce0c2;
        --color-green-300: #95c79b;
        --color-green-400: #6dad75;
        --color-green-500: #528d5a;
        --color-green-600: #43724a;
        --color-green-700: #375b3e;
        --color-green-800: #2b4532;
        --color-green-900: #1c2d22;
        --color-green-950: #111b14;

        --color-cyan-50:  #f0f9fa;
        --color-cyan-100: #d4eff3;
        --color-cyan-200: #b1e0e8;
        --color-cyan-300: #83c7d5;
        --color-cyan-400: #58acc0;
        --color-cyan-500: #3d8fa7;
        --color-cyan-600: #327588;
        --color-cyan-700: #2a5e6d;
        --color-cyan-800: #214955;
        --color-cyan-900: #162f36;
        --color-cyan-950: #0e1e23;

        --color-blue-50:  #f2f6fb;
        --color-blue-100: #dde8f5;
        --color-blue-200: #bfd3eb;
        --color-blue-300: #97b5dc;
        --color-blue-400: #7097c8;
        --color-blue-500: #587daf;
        --color-blue-600: #46658e;
        --color-blue-700: #395170;
        --color-blue-800: #2c3e56;
        --color-blue-900: #1d2838;
        --color-blue-950: #111821;

        --color-purple-50:  #f6f3fa;
        --color-purple-100: #e7def3;
        --color-purple-200: #d0bee8;
        --color-purple-300: #b195d6;
        --color-purple-400: #9473be;
        --color-purple-500: #7a58a4;
        --color-purple-600: #634888;
        --color-purple-700: #513b6c;
        --color-purple-800: #3d2e52;
        --color-purple-900: #261d35;
        --color-purple-950: #161022;

        --color-pink-50:  #fdf4f8;
        --color-pink-100: #f8e1ec;
        --color-pink-200: #f1c4da;
        --color-pink-300: #e29abc;
        --color-pink-400: #cf6d9b;
        --color-pink-500: #b55182;
        --color-pink-600: #95426b;
        --color-pink-700: #783757;
        --color-pink-800: #592b42;
        --color-pink-900: #371a2a;
        --color-pink-950: #211018;
    }

    [data-theme="default"][data-theme-variant="dark"] {
        --color-base-00: #1e1e1e;
        --color-base-05: #212121;
        --color-base-10: #242424;
        --color-base-20: #262626;
        --color-base-25: #2a2a2a;
        --color-base-30: #363636;
        --color-base-35: #3f3f3f;
        --color-base-40: #555555;
        --color-base-50: #666666;
        --color-base-60: #999999;
        --color-base-70: #b3b3b3;
        --color-base-90: #e0e0e0;
        --color-base-100: #dadada;

        --color-gray-50: #f6f7f8;
        --color-gray-100: #ebecee;
        --color-gray-200: #d9dce0;
        --color-gray-300: #c2c8ce;
        --color-gray-400: #a5acb5;
        --color-gray-500: #8f96a2;
        --color-gray-600: #7e8492;
        --color-gray-700: #717684;
        --color-gray-800: #5f626e;
        --color-gray-900: #4e515a;
        --color-gray-950: #323439;

        --color-red-50:  #fff2f2;
        --color-red-100: #ffdfdf;
        --color-red-200: #ffc1c1;
        --color-red-300: #ff9999;
        --color-red-400: #ff5959;
        --color-red-500: #f43333;
        --color-red-600: #d42626;
        --color-red-700: #b21f1f;
        --color-red-800: #8c1616;
        --color-red-900: #661111;
        --color-red-950: #2d0505;

        --color-orange-50:  #fff8f1;
        --color-orange-100: #ffecd9;
        --color-orange-200: #ffd9b8;
        --color-orange-300: #ffbf8c;
        --color-orange-400: #ff9f59;
        --color-orange-500: #ff802b;
        --color-orange-600: #e66c20;
        --color-orange-700: #b9521a;
        --color-orange-800: #8a3e14;
        --color-orange-900: #663013;
        --color-orange-950: #331607;

        --color-yellow-50:  #fffdf1;
        --color-yellow-100: #fff9d9;
        --color-yellow-200: #fff3b8;
        --color-yellow-300: #ffea8c;
        --color-yellow-400: #ffde59;
        --color-yellow-500: #ffcf2b;
        --color-yellow-600: #e6b920;
        --color-yellow-700: #b38f1a;
        --color-yellow-800: #8a690f;
        --color-yellow-900: #66510c;
        --color-yellow-950: #332806;

        --color-green-50: #f1fcf1;
        --color-green-100: #dff9df;
        --color-green-200: #c1f1c1;
        --color-green-300: #99e699;
        --color-green-400: #59cf59;
        --color-green-500: #33b433;
        --color-green-600: #259426;
        --color-green-700: #207521;
        --color-green-800: #1e5d1f;
        --color-green-900: #1b4c1c;
        --color-green-950: #092a0b;

        --color-cyan-50:  #f1fcff;
        --color-cyan-100: #dcf3ff;
        --color-cyan-200: #b9e6ff;
        --color-cyan-300: #8ed9ff;
        --color-cyan-400: #59c7ff;
        --color-cyan-500: #2ba9f4;
        --color-cyan-600: #1d87d4;
        --color-cyan-700: #1665b3;
        --color-cyan-800: #124e8c;
        --color-cyan-900: #0f3b66;
        --color-cyan-950: #071d33;

        --color-blue-50: #eff6ff;
        --color-blue-100: #daebff;
        --color-blue-200: #beddff;
        --color-blue-300: #99ccff;
        --color-blue-400: #5daafd;
        --color-blue-500: #3787fa;
        --color-blue-600: #2168ef;
        --color-blue-700: #1952dc;
        --color-blue-800: #1b43b2;
        --color-blue-900: #1c3c8c;
        --color-blue-950: #162655;

        --color-purple-50: #f5f2ff;
        --color-purple-100: #ece8ff;
        --color-purple-200: #dcd4ff;
        --color-purple-300: #c2b2ff;
        --color-purple-400: #b399ff;
        --color-purple-500: #8855fd;
        --color-purple-600: #7b32f5;
        --color-purple-700: #6c20e1;
        --color-purple-800: #5a1abd;
        --color-purple-900: #4b189a;
        --color-purple-950: #2d0c69;

        --color-pink-50:  #fff2f8;
        --color-pink-100: #ffdef1;
        --color-pink-200: #ffc1e2;
        --color-pink-300: #ff99cd;
        --color-pink-400: #ff59b3;
        --color-pink-500: #f43396;
        --color-pink-600: #d4267b;
        --color-pink-700: #b21f62;
        --color-pink-800: #8c144b;
        --color-pink-900: #661034;
        --color-pink-950: #2d0519;
    }

    [data-theme="nord"][data-theme-variant="light"] {
        --color-base-00: #F8FAFB;
        --color-base-05: #F1F5F8;
        --color-base-10: #E6EBF0;
        --color-base-20: #D9E0E6;
        --color-base-25: #D2DAE1;
        --color-base-30: #CBD6DD;
        --color-base-35: #C3CDD5;
        --color-base-40: #B7C2CB;
        --color-base-50: #A7B3BD;
        --color-base-60: #939FA9;
        --color-base-70: #7E8A95;
        --color-base-90: #515A63;
        --color-base-100: #2F343A;

        --color-primary-50:  #fafcfb;
        --color-primary-100: #edf6ef;
        --color-primary-200: #d8ebdc;
        --color-primary-300: #b8d5bd;
        --color-primary-400: #96b898;
        --color-primary-500: #6e9c74;
        --color-primary-600: #55845b;
        --color-primary-700: #466b4b;
        --color-primary-800: #34503a;
        --color-primary-900: #223627;
        --color-primary-950: #121e14;

        --color-gray-50:  #F9FAFB;
        --color-gray-100: #F1F3F5;
        --color-gray-200: #E2E6EA;
        --color-gray-300: #D3D8DE;
        --color-gray-400: #B9C0C8;
        --color-gray-500: #9FA7B0;
        --color-gray-600: #858E99;
        --color-gray-700: #6B7480;
        --color-gray-800: #525A66;
        --color-gray-900: #3A404A;
        --color-gray-950: #272B33;

        --color-red-50:  #e9c8c8;
        --color-red-100: #d9b1b1;
        --color-red-200: #c29191;
        --color-red-300: #a97777;
        --color-red-400: #be8686;
        --color-red-500: #9b6666;
        --color-red-600: #875555;
        --color-red-700: #724747;
        --color-red-900: #573636;
        --color-red-950: #3c2525;

        --color-orange-50:  #edd0b8;
        --color-orange-100: #e1b693;
        --color-orange-200: #d29e78;
        --color-orange-300: #bf8863;
        --color-orange-400: #d09b79;
        --color-orange-500: #b77c55;
        --color-orange-600: #a06a47;
        --color-orange-700: #87583a;
        --color-orange-900: #6a4530;
        --color-orange-950: #4a2f22;

        --color-yellow-50:  #e4d5a5;
        --color-yellow-100: #d6c48d;
        --color-yellow-200: #c4b174;
        --color-yellow-300: #b19d5e;
        --color-yellow-400: #c3af70;
        --color-yellow-500: #9d8b4f;
        --color-yellow-600: #887740;
        --color-yellow-700: #716134;
        --color-yellow-900: #55492a;
        --color-yellow-950: #3b321c;

        --color-green-50:  #b4ccc2;
        --color-green-100: #9bb9ab;
        --color-green-200: #81a394;
        --color-green-300: #65897b;
        --color-green-400: #7b9e8e;
        --color-green-500: #5d8171;
        --color-green-600: #4e6d5e;
        --color-green-700: #3f584d;
        --color-green-900: #2f423b;
        --color-green-950: #1f2d28;

        --color-cyan-50:  #b6d4d4;
        --color-cyan-100: #9cc0c0;
        --color-cyan-200: #84abab;
        --color-cyan-300: #6b9494;
        --color-cyan-400: #7fa8a8;
        --color-cyan-500: #618b8b;
        --color-cyan-600: #527676;
        --color-cyan-700: #446161;
        --color-cyan-900: #334b4b;
        --color-cyan-950: #243535;

        --color-blue-50:  #bac7de;
        --color-blue-100: #a2b3cf;
        --color-blue-200: #8ba0c0;
        --color-blue-300: #7187a8;
        --color-blue-400: #8a9bbc;
        --color-blue-500: #6a7f9f;
        --color-blue-600: #586d8b;
        --color-blue-700: #475977;
        --color-blue-900: #35425b;
        --color-blue-950: #242d40;

        --color-purple-50:  #c5bfe0;
        --color-purple-100: #b2aad4;
        --color-purple-200: #9a91c2;
        --color-purple-300: #8279a8;
        --color-purple-400: #988fbc;
        --color-purple-500: #776f9c;
        --color-purple-600: #655e87;
        --color-purple-700: #544e71;
        --color-purple-900: #3d3956;
        --color-purple-950: #2a283d;

        --color-pink-50:  #d8b8c7;
        --color-pink-100: #c79eb1;
        --color-pink-200: #b2859a;
        --color-pink-300: #9d6d83;
        --color-pink-400: #b08095;
        --color-pink-500: #906274;
        --color-pink-600: #7b5364;
        --color-pink-700: #674554;
        --color-pink-900: #4e333f;
        --color-pink-950: #35242b;
    }

    [data-theme="nord"][data-theme-variant="dark"] {
        --color-base-00: #1F222B;
        --color-base-05: #242833;
        --color-base-10: #2B2F3A;
        --color-base-20: #303543;
        --color-base-25: #353A48;
        --color-base-30: #3A3F4C;
        --color-base-35: #404556;
        --color-base-40: #444B5A;
        --color-base-50: #505768;
        --color-base-60: #6A7285;
        --color-base-70: #8C95A8;
        --color-base-90: #D3D7E0;
        --color-base-100: #E7E9ED;

        --color-primary-50:  #dfe9e4;
        --color-primary-100: #bfd2c8;
        --color-primary-200: #9cb8aa;
        --color-primary-300: #7b9f8e;
        --color-primary-400: #5f8673;
        --color-primary-500: #4a6b5c;
        --color-primary-600: #395548;
        --color-primary-700: #2d4138;
        --color-primary-800: #20302a;
        --color-primary-900: #141f1b;
        --color-primary-950: #0b1210;

        --color-gray-50:  #ECEFF4;
        --color-gray-100: #E5E9F0;
        --color-gray-200: #D8DEE9;
        --color-gray-300: #C1C9D6;
        --color-gray-400: #AAB3C2;
        --color-gray-500: #9099A8;
        --color-gray-600: #79828F;
        --color-gray-700: #606975;
        --color-gray-800: #454C56;
        --color-gray-900: #2E3440;
        --color-gray-950: #1E222A;

        --color-red-50: #EBDCDC;
        --color-red-100: #D9A9A9;
        --color-red-200: #C58686;
        --color-red-300: #C06C6C;
        --color-red-400: #E08B8B;
        --color-red-500: #A86868;
        --color-red-600: #8E5050;
        --color-red-700: #693C3C;
        --color-red-900: #4B2A2A;
        --color-red-950: #351C1C;

        --color-orange-50: #F0E3D7;
        --color-orange-100: #DCB897;
        --color-orange-200: #C99570;
        --color-orange-300: #CC946B;
        --color-orange-400: #E9B286;
        --color-orange-500: #A87452;
        --color-orange-600: #875C3E;
        --color-orange-700: #644531;
        --color-orange-900: #452F20;
        --color-orange-950: #2E1F15;

        --color-yellow-50: #F3EED4;
        --color-yellow-100: #E1D08F;
        --color-yellow-200: #CDB45E;
        --color-yellow-300: #D8C080;
        --color-yellow-400: #EFDC9E;
        --color-yellow-500: #AE9542;
        --color-yellow-600: #887337;
        --color-yellow-700: #66572B;
        --color-yellow-900: #4A3E20;
        --color-yellow-950: #332B15;

        --color-green-50: #DDE8E3;
        --color-green-100: #A7C8B7;
        --color-green-200: #7FAE98;
        --color-green-300: #5E9A84;
        --color-green-400: #8FC9B0;
        --color-green-500: #5C8F77;
        --color-green-600: #476E5D;
        --color-green-700: #345147;
        --color-green-900: #233A32;
        --color-green-950: #162620;

        --color-cyan-50: #D9ECEC;
        --color-cyan-100: #A7D1D1;
        --color-cyan-200: #7FB7B7;
        --color-cyan-300: #5EA8A8;
        --color-cyan-400: #87D0D0;
        --color-cyan-500: #5C9B9B;
        --color-cyan-600: #477979;
        --color-cyan-700: #355E5E;
        --color-cyan-900: #244343;
        --color-cyan-950: #172E2E;

        --color-blue-50: #DCE5EE;
        --color-blue-100: #A9C0DA;
        --color-blue-200: #7D9EC2;
        --color-blue-300: #5E89B4;
        --color-blue-400: #89B3E0;
        --color-blue-500: #5E81A3;
        --color-blue-600: #496783;
        --color-blue-700: #384D66;
        --color-blue-900: #27354A;
        --color-blue-950: #1A2333;

        --color-purple-50: #E3DDF0;
        --color-purple-100: #BFB0DA;
        --color-purple-200: #9D8BC4;
        --color-purple-300: #8970B0;
        --color-purple-400: #B094E3;
        --color-purple-500: #7E6BA8;
        --color-purple-600: #615384;
        --color-purple-700: #473D63;
        --color-purple-900: #312A47;
        --color-purple-950: #221C33;

        --color-pink-50: #F0E3EC;
        --color-pink-100: #D6B4D2;
        --color-pink-200: #C18EBE;
        --color-pink-300: #B17CA6;
        --color-pink-400: #D79DC9;
        --color-pink-500: #A86EA5;
        --color-pink-600: #845683;
        --color-pink-700: #5F3D5F;
        --color-pink-900: #422943;
        --color-pink-950: #2D1A2E;
    }
}

@theme {
    --color-base-00: var(--color-base-00);
    --color-base-05: var(--color-base-05);
    --color-base-10: var(--color-base-10);
    --color-base-20: var(--color-base-20);
    --color-base-25: var(--color-base-25);
    --color-base-30: var(--color-base-30);
    --color-base-35: var(--color-base-35);
    --color-base-40: var(--color-base-40);
    --color-base-50: var(--color-base-50);
    --color-base-60: var(--color-base-60);
    --color-base-70: var(--color-base-70);
    --color-base-90: var(--color-base-90);
    --color-base-100: var(--color-base-100);

    --color-primary-50:  var(--color-primary-50);
    --color-primary-100: var(--color-primary-100);
    --color-primary-200: var(--color-primary-200);
    --color-primary-300: var(--color-primary-300);
    --color-primary-400: var(--color-primary-400);
    --color-primary-500: var(--color-primary-500);
    --color-primary-600: var(--color-primary-600);
    --color-primary-700: var(--color-primary-700);
    --color-primary-800: var(--color-primary-800);
    --color-primary-900: var(--color-primary-900);
    --color-primary-950: var(--color-primary-950);

    --color-gray-50:  var(--color-gray-50);
    --color-gray-100: var(--color-gray-100);
    --color-gray-200: var(--color-gray-200);
    --color-gray-300: var(--color-gray-300);
    --color-gray-400: var(--color-gray-400);
    --color-gray-500: var(--color-gray-500);
    --color-gray-600: var(--color-gray-600);
    --color-gray-700: var(--color-gray-700);
    --color-gray-800: var(--color-gray-800);
    --color-gray-900: var(--color-gray-900);
    --color-gray-950: var(--color-gray-950);

    --color-red-50: var(--color-red-50);
    --color-red-100: var(--color-red-100);
    --color-red-200: var(--color-red-200);
    --color-red-300: var(--color-red-300);
    --color-red-400: var(--color-red-400);
    --color-red-500: var(--color-red-500);
    --color-red-600: var(--color-red-600);
    --color-red-700: var(--color-red-700);
    --color-red-800: var(--color-red-800);
    --color-red-900: var(--color-red-900);
    --color-red-950: var(--color-red-950);

    --color-orange-50: var(--color-orange-50);
    --color-orange-100: var(--color-orange-100);
    --color-orange-200: var(--color-orange-200);
    --color-orange-300: var(--color-orange-300);
    --color-orange-400: var(--color-orange-400);
    --color-orange-500: var(--color-orange-500);
    --color-orange-600: var(--color-orange-600);
    --color-orange-700: var(--color-orange-700);
    --color-orange-800: var(--color-orange-800);
    --color-orange-900: var(--color-orange-900);
    --color-orange-950: var(--color-orange-950);

    --color-yellow-50: var(--color-yellow-50);
    --color-yellow-100: var(--color-yellow-100);
    --color-yellow-200: var(--color-yellow-200);
    --color-yellow-300: var(--color-yellow-300);
    --color-yellow-400: var(--color-yellow-400);
    --color-yellow-500: var(--color-yellow-500);
    --color-yellow-600: var(--color-yellow-600);
    --color-yellow-700: var(--color-yellow-700);
    --color-yellow-800: var(--color-yellow-800);
    --color-yellow-900: var(--color-yellow-900);
    --color-yellow-950: var(--color-yellow-950);

    --color-green-50: var(--color-green-50);
    --color-green-100: var(--color-green-100);
    --color-green-200: var(--color-green-200);
    --color-green-300: var(--color-green-300);
    --color-green-400: var(--color-green-400);
    --color-green-500: var(--color-green-500);
    --color-green-600: var(--color-green-600);
    --color-green-700: var(--color-green-700);
    --color-green-800: var(--color-green-800);
    --color-green-900: var(--color-green-900);
    --color-green-950: var(--color-green-950);

    --color-cyan-50: var(--color-cyan-50);
    --color-cyan-100: var(--color-cyan-100);
    --color-cyan-200: var(--color-cyan-200);
    --color-cyan-300: var(--color-cyan-300);
    --color-cyan-400: var(--color-cyan-400);
    --color-cyan-500: var(--color-cyan-500);
    --color-cyan-600: var(--color-cyan-600);
    --color-cyan-700: var(--color-cyan-700);
    --color-cyan-800: var(--color-cyan-800);
    --color-cyan-900: var(--color-cyan-900);
    --color-cyan-950: var(--color-cyan-950);

    --color-blue-50: var(--color-blue-50);
    --color-blue-100: var(--color-blue-100);
    --color-blue-200: var(--color-blue-200);
    --color-blue-300: var(--color-blue-300);
    --color-blue-400: var(--color-blue-400);
    --color-blue-500: var(--color-blue-500);
    --color-blue-600: var(--color-blue-600);
    --color-blue-700: var(--color-blue-700);
    --color-blue-800: var(--color-blue-800);
    --color-blue-900: var(--color-blue-900);
    --color-blue-950: var(--color-blue-950);

    --color-purple-50: var(--color-purple-50);
    --color-purple-100: var(--color-purple-100);
    --color-purple-200: var(--color-purple-200);
    --color-purple-300: var(--color-purple-300);
    --color-purple-400: var(--color-purple-400);
    --color-purple-500: var(--color-purple-500);
    --color-purple-600: var(--color-purple-600);
    --color-purple-700: var(--color-purple-700);
    --color-purple-800: var(--color-purple-800);
    --color-purple-900: var(--color-purple-900);
    --color-purple-950: var(--color-purple-950);

    --color-pink-50: var(--color-pink-50);
    --color-pink-100: var(--color-pink-100);
    --color-pink-200: var(--color-pink-200);
    --color-pink-300: var(--color-pink-300);
    --color-pink-400: var(--color-pink-400);
    --color-pink-500: var(--color-pink-500);
    --color-pink-600: var(--color-pink-600);
    --color-pink-700: var(--color-pink-700);
    --color-pink-800: var(--color-pink-800);
    --color-pink-900: var(--color-pink-900);
    --color-pink-950: var(--color-pink-950);
}