@layer components {
    [data-role="drawer"] {
        @apply vertical h-full;
    }

    [data-role="drawer-menu"] {
        @apply horizontal justify-between items-center gap-2 mb-2;
    }

    [data-role="drawer-container"] {
        @apply flex-1 vertical items-center gap-2 p-2 w-full overflow-y-auto overflow-x-visible;
    }

    #pagination-element-container {
        @apply flex flex-row justify-between items-center pt-2;
    }
}