@layer components {
    [data-role="form"] {
        @apply space-y-4;
    }

    [data-role="fieldset"] {

    }

    [data-role="fieldset-title"] {
        @apply mb-2;
    }

    [data-role="input-wrapper"] {
        @apply horizontal justify-between items-center gap-4;
    }

    [data-role="input-group"] {
        @apply w-full p-5 space-y-2 rounded-lg;

        input {
            @apply text-sm w-full px-4 py-2 rounded-lg border;
        }
    }

    textarea {
        @apply text-sm w-full px-4 py-2 rounded-lg border;
    }

    [data-role="checkbox-section"] {
        @apply w-full p-5 space-y-2 rounded-lg;

        [data-role="checkbox-container"] {
            @apply horizontal flex-wrap gap-4;
        }
    }

    [data-role="checkbox-group"] {
        @apply horizontal items-center gap-2;

        input {
            @apply transform scale-125 m-0;
        }
    }

    [data-role="checkbox-group"][data-variant="as-section"] {
        @apply w-full p-5 rounded-lg;
    }

    [data-role="select-group"] {
        @apply w-full p-5 space-y-2 rounded-lg;

        select {
            @apply text-sm w-full px-4 py-2 rounded-lg border;
        }
    }

    [data-role="select-group"][data-variant="w-fit"] {
        @apply w-fit;
    }

    label, [data-role="label"] {
        @apply block text-base-100 text-sm font-bold;
    }
}