<div data-role="drawer">
    <h2 data-role="drawer-title">Entrées</h2>
    <div data-role="drawer-menu" id="entry-menu">
        <input data-role="searchbar" data-context="drawer" id="searchbar" type="text" placeholder="Rechercher...">
        <button data-role="create-button" id="create-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus">
                <path d="M5 12h14"/>
                <path d="M12 5v14"/>
            </svg>
        </button>
    </div>
    <div data-role="drawer-container" id="entry-container"></div>
</div>