<form data-role="form" data-context="dictionary">
    <div data-role="input-group">
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="Enter the name of your new dictionary.">
    </div>
    <div data-role="input-group">
        <label for="description">Description</label>
        <input type="text" id="description" placeholder="What will your new dictionary be about ?">
    </div>
    <input type="hidden" id="id" value="0">
    <button data-role="submit-button" type="submit" id="submit"></button>
</form>