<form data-role="form" data-context="entry" id="dictionary-entry-form">
    <h2 data-role="form-title"></h2>
    <!-- Section Lemme -->
    <div data-role="fieldset" id="lemma-section">
        <p data-role="fieldset-title">Informations générales</p>
        <div data-role="input-group" class="input-container mb-4">
            <label for="lemma">Lemme</label>
            <input type="text" id="lemma" name="lemma">
        </div>

        <div data-role="select-group" class="input-container mb-4">
            <label for="language">Langue</label>
            <select id="language" name="language">
                <template>
                    <option value=""></option>
                </template>
                <option value="0">-- Sélectionnez une langue --</option>
            </select>
        </div>

        <div data-role="horizontal-input-wrapper">
            <div data-role="checkbox-section" data-context="grammatical-category" id="grammatical-categories">
                <p data-role="label">Catégories grammaticales</p>
                <div data-role="checkbox-container" id="grammatical-category-checkboxes"></div>
                <template id="template-gramCat-checkbox">
                    <div data-role="checkbox-group">
                        <input type="checkbox" name="grammatical-category" value="">
                        <label></label>
                    </div>
                </template>
            </div>

            <div data-role="checkbox-section" data-context="grammatical-genre" id="grammatical-genres">
                <p data-role="label">Genres grammaticaux</p>
                <div data-role="checkbox-container" id="grammatical-genre-checkboxes"></div>
                <template id="template-genre-checkbox">
                    <div data-role="checkbox-group">
                        <input type="checkbox" name="grammatical-genre" value="">
                        <label></label>
                    </div>
                </template>
            </div>
        </div>
        <input type="hidden" id="entry_id" value="0">
    </div>

    <!-- Section Traductions -->
    <div data-role="fieldset" class="relative" id="global-translations-section">
        <p data-role="fieldset-title">Traductions globales</p>
        <input data-role="searchbar" data-context="translation" type="text" id="gts-searchbar" placeholder="Rechercher une entrée">
        <div data-role="dropdown" data-context="translation" id="gts-dropdown"></div>
        <div data-role="translation-container" class="flex flex-row flex-wrap gap-2 mt-2" id="gts-translation-items"></div>
    </div>

    <!-- Section Définitions -->
    <div data-role="fieldset" id="definitions-section">
        <div class="flex flex-row justify-between items-center">
            <p data-role="fieldset-title">Définitions</p>
            <button data-role="create-button" class="create-button" id="ds-add-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus">
                    <path d="M5 12h14"/>
                    <path d="M12 5v14"/>
                </svg>
            </button>
        </div>

        <div data-role="definition-container" id="ds-definition-items"></div>
        <template id="ds-definition-template">
            <div data-role="definition">
                <div class="flex flex-row justify-between items-center mb-2">
                    <p data-role="definition-title">Définition</p>
                    <button data-role="delete-button" class="delete-button" id="d-remove-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-minus-icon lucide-minus">
                            <path d="M5 12h14"/>
                        </svg>
                    </button>
                </div>
                <div data-role="text-area-group">
                    <label for="d-content">Texte de la définition</label>
                    <textarea class="min-w-full max-w-full h-24 p-2 bg-white rounded-lg" id="d-content"></textarea>
                </div>

                <div data-role="translation-section">
                    <p data-role="label">Traductions</p>
                    <input data-role="searchbar" data-context="translation" type="text" id="d-searchbar" placeholder="Rechercher une entrée">
                    <div data-role="dropdown" data-context="translation" id="d-dropdown"></div>
                    <div data-role="translation-container" id="d-translation-items"></div>
                </div>
                <input type="hidden" id="definition_id" value="0">
            </div>
        </template>
    </div>

    <template id="gts-tag-template">
        <div data-role="translation-tag">
            <p data-role="translation-text"></p>
            <input type="hidden" id="translation_id" value="0">
            <button data-role="delete-button" data-variant="right-rounded">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x">
                    <path d="M18 6 6 18"/>
                    <path d="m6 6 12 12"/>
                </svg>
            </button>
        </div>
    </template>

    <button data-role="submit-button" type="submit" id="submit"></button>
</form>
