<form id="dictionary-entry-form">
    <!-- Section Lemme -->
    <fieldset id="lemma-section">
        <legend>Lemme</legend>
        <label for="lemma">Lemme</label>
        <input type="text" id="lemma" name="lemma">

        <label for="language">Langue</label>
        <select id="language" name="language">
            <template>
                <option value=""></option>
            </template>
            <option value="default">-- Sélectionnez une langue --</option>
        </select>

        <fieldset id="grammatical-categories">
            <legend>Catégories grammaticales</legend>
            <template id="template-gramCat-checkbox">
                <label><input type="checkbox" name="grammatical-category" value=""></label>
            </template>
        </fieldset>

        <fieldset id="grammatical-genres">
            <legend>Genres grammaticaux</legend>
            <template id="template-genre-checkbox">
                <label><input type="checkbox" name="grammatical-genre" value=""></label>
            </template>
        </fieldset>
        <input type="hidden" id="entry_id" value="0">
    </fieldset>

    <!-- Section Traductions -->
    <fieldset id="global-translations-section">
        <legend>Traductions globales</legend>
        <input type="text" id="gts-searchbar" placeholder="Rechercher une entrée">
        <div id="gts-dropdown"></div>

        <div id="gts-translation-items"></div>
    </fieldset>

    <!-- Section Définitions -->
    <fieldset id="definitions-section">
        <div>
            <legend>Définitions</legend>
            <button id="ds-add-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus">
                    <path d="M5 12h14"/>
                    <path d="M12 5v14"/>
                </svg>
            </button>
        </div>

        <div id="ds-definition-items">

        </div>
        <template id="ds-definition-template">
            <div data-role="definition-item">
                <div>
                    <label for="d-content">Définition : </label>
                    <button id="d-remove-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-minus-icon lucide-minus">
                            <path d="M5 12h14"/>
                        </svg>
                    </button>
                </div>
                <textarea id="d-content"></textarea>

                <input type="text" id="d-searchbar" placeholder="Rechercher une entrée">
                <div id="d-dropdown"></div>
                <div id="d-translation-items"></div>
            </div>
        </template>
    </fieldset>

    <template id="gts-tag-template">
        <div data-role="translation-tag">
            <p></p>
            <input type="hidden" id="translation_id" value="0">
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x">
                    <path d="M18 6 6 18"/>
                    <path d="m6 6 12 12"/>
                </svg>
            </button>
        </div>
    </template>

    <button type="submit" id="submit"></button>
</form>
