@layer components {
    [data-role="searchbar"] {
        @apply focus:outline-none;

        &[data-context="drawer"],
        &[data-context="translation"] {
            @apply w-full h-fit px-2 py-1 rounded-md border;
        }
    }
}