[data-role="drawer"] {}

[data-role="drawer-menu"] {
    @apply flex flex-row justify-between items-center gap-2 mb-2;
}

[data-role="drawer-container"] {
    @apply w-full h-fit flex flex-col justify-center items-center gap-2;
}