[data-role="drawer"] {
    @apply flex flex-col h-full;
}

[data-role="drawer-menu"] {
    @apply flex flex-row justify-between items-center gap-2 mb-2;
}

[data-role="drawer-container"] {
    @apply flex-1 w-full flex flex-col items-center gap-2 overflow-y-auto;
}