[data-role="form"] {
    @apply space-y-4;
}

[data-role="fieldset"] {

}

[data-role="fieldset-title"] {

}

[data-role="input-wrapper"] {

}

[data-role="input-group"] {
    @apply w-full p-5 space-y-2 bg-gray-300 rounded-lg;
    input {
        @apply text-sm w-full px-4 py-2 bg-gray-100 border border-gray-300 rounded-lg shadow-sm transition duration-300 ease-in-out transform focus:-translate-y-1 focus:outline-primary-300 hover:shadow-lg hover:border-primary-300 hover:bg-primary-100 focus:bg-primary-200;
    }
}

[data-role="checkbox-group"] {
    @apply w-full p-5 space-y-2 bg-gray-300 rounded-lg;
    input {
        @apply transform scale-125 m-0;
    }
    [data-role="checkbox-container"] {
        @apply flex flex-row flex-wrap gap-2;
    }
}

[data-role="select-group"] {
    @apply w-full p-5 space-y-2 bg-gray-300 rounded-lg;
    select {
        @apply text-sm w-full px-4 py-2 bg-gray-100 border border-gray-300 rounded-lg shadow-sm transition duration-300 ease-in-out transform focus:-translate-y-1 focus:outline-primary-300 hover:shadow-lg hover:border-primary-300 hover:bg-primary-100 focus:bg-primary-200;
        option {
            @apply bg-gray-100;
        }
    }
}

label, [data-role="label"] {
    @apply block text-gray-700 text-sm font-bold;
}