[data-role="drawer-searchbar"], [data-role="translation-searchbar"] {
    @apply w-full h-fit px-2 py-1 rounded-md border border-gray-300 bg-gray-100 text-gray-800 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:border-purple-500 transition-colors duration-200;
}