[data-role="toggle"] {
    --toggle-size: 12px;

    appearance: none;
    width: 4.8em;
    height: 2.7em;
    font-size: var(--toggle-size);

    background: linear-gradient(
            to right,
            var(--color-base-10) 50%,
            var(--color-primary-400) 50%
    ) no-repeat;
    background-size: 205%;
    background-position: 0;

    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
}

[data-role="toggle"]::before {
    content: "";
    width: 1.8em;
    height: 1.8em;

    position: absolute;
    top: 0.35em;
    left: 0.35em;

    background: linear-gradient(
            to right,
            var(--color-base-10) 50%,
            var(--color-primary-400) 50%
    ) no-repeat;
    background-size: 205%;
    background-position: 100%;

    border-radius: 50%;
    transition: 0.4s;
}

[data-role="toggle"]:checked {
    background-position: 100%;
}

[data-role="toggle"]:checked::before {
    left: calc(100% - 1.8em - 0.35em);
    background-position: 0;
}
