@import "tailwindcss";

@import './css/buttons.css';
@import './css/definition.css';
@import './css/drawers.css';
@import './css/dropdowns.css';
@import './css/forms.css';
@import './css/headings.css';
@import './css/searchbars.css';
@import './css/thumbnails.css';
@import './css/translation.css';

@theme {
    --color-base-00: #f8f8f8;
    --color-base-05: #f5f5f5;
    --color-base-10: #f2f2f2;
    --color-base-20: #eeeeee;
    --color-base-25: #e3e3e3;
    --color-base-30: #e0e0e0;
    --color-base-35: #d4d4d4;
    --color-base-40: #bdbdbd;
    --color-base-50: #ababab;
    --color-base-60: #707070;
    --color-base-70: #5c5c5c;
    --color-base-90: #2a2a2a;
    --color-base-100: #222222;

    --color-primary-50: var(--color-purple-50);
    --color-primary-100: var(--color-purple-100);
    --color-primary-200: var(--color-purple-200);
    --color-primary-300: var(--color-purple-300);
    --color-primary-400: var(--color-purple-400);
    --color-primary-500: var(--color-purple-500);
    --color-primary-600: var(--color-purple-600);
    --color-primary-700: var(--color-purple-700);
    --color-primary-800: var(--color-purple-800);
    --color-primary-900: var(--color-purple-900);
    --color-primary-950: var(--color-purple-950);
}

* {
    box-sizing: border-box;
}

.inactive {
    display: none;
}

body {
    @apply text-base-100;
}

aside {
    @apply flex flex-col p-4 gap-4 w-[20%] h-screen bg-base-20;
}

main {
    @apply flex flex-row w-[80%] h-screen bg-base-00;
}

[data-role="left-leaf"] {
    @apply w-[35%] h-screen p-4 border-l-2 border-base-30;
}

[data-role="right-leaf"] {
    @apply w-full h-screen p-4 overflow-y-auto border-l-2 border-base-30;
}

*::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

[data-theme="default"][data-variant="dark"] {
    --color-base-00: #1e1e1e;
    --color-base-05: #212121;
    --color-base-10: #242424;
    --color-base-20: #262626;
    --color-base-25: #2a2a2a;
    --color-base-30: #363636;
    --color-base-35: #3f3f3f;
    --color-base-40: #555555;
    --color-base-50: #666666;
    --color-base-60: #99999;
    --color-base-70: #b3b3b3;
    --color-base-90: #e0e0e0;
    --color-base-100: #dadada;

    --color-gray-50: #f6f7f8;
    --color-gray-100: #ebecee;
    --color-gray-200: #d9dce0;
    --color-gray-300: #c2c8ce;
    --color-gray-400: #a5acb5;
    --color-gray-500: #8f96a2;
    --color-gray-600: #7e8492;
    --color-gray-700: #717684;
    --color-gray-800: #5f626e;
    --color-gray-900: #4e515a;
    --color-gray-950: #323439;

    --color-green-50: #f1fcf1;
    --color-green-100: #dff9df;
    --color-green-200: #c1f1c1;
    --color-green-300: #99e699;
    --color-green-400: #59cf59;
    --color-green-500: #33b433;
    --color-green-600: #259426;
    --color-green-700: #207521;
    --color-green-800: #1e5d1f;
    --color-green-900: #1b4c1c;
    --color-green-950: #092a0b;

    --color-blue-50: #eff6ff;
    --color-blue-100: #daebff;
    --color-blue-200: #beddff;
    --color-blue-300: #99ccff;
    --color-blue-400: #5daafd;
    --color-blue-500: #3787fa;
    --color-blue-600: #2168ef;
    --color-blue-700: #1952dc;
    --color-blue-800: #1b43b2;
    --color-blue-900: #1c3c8c;
    --color-blue-950: #162655;

    --color-purple-50: #f5f2ff;
    --color-purple-100: #ece8ff;
    --color-purple-200: #dcd4ff;
    --color-purple-300: #c2b2ff;
    --color-purple-400: #b399ff;
    --color-purple-500: #8855fd;
    --color-purple-600: #7b32f5;
    --color-purple-700: #6c20e1;
    --color-purple-800: #5a1abd;
    --color-purple-900: #4b189a;
    --color-purple-950: #2d0c69;
}

[data-theme="default"][data-variant="light"] {
    --color-base-00: #f8f8f8;
    --color-base-05: #f5f5f5;
    --color-base-10: #f2f2f2;
    --color-base-20: #eeeeee;
    --color-base-25: #e3e3e3;
    --color-base-30: #e0e0e0;
    --color-base-35: #d4d4d4;
    --color-base-40: #bdbdbd;
    --color-base-50: #ababab;
    --color-base-60: #707070;
    --color-base-70: #5c5c5c;
    --color-base-90: #2a2a2a;
    --color-base-100: #222222;

    --color-gray-50: #f6f7f9;
    --color-gray-100: #ebeff3;
    --color-gray-200: #d4dbe3;
    --color-gray-300: #aebdcb;
    --color-gray-400: #8299ae;
    --color-gray-500: #627c95;
    --color-gray-600: #4d637c;
    --color-gray-700: #405064;
    --color-gray-800: #374555;
    --color-gray-900: #323c48;
    --color-gray-950: #1a1f26;

    --color-green-50: #edfff2;
    --color-green-100: #d6ffe3;
    --color-green-200: #afffc9;
    --color-green-300: #71ffa0;
    --color-green-400: #2dfb70;
    --color-green-500: #02e54d;
    --color-green-600: #00bf3b;
    --color-green-700: #009933;
    --color-green-800: #06752c;
    --color-green-900: #085f26;
    --color-green-950: #003613;

    --color-blue-50: #ebf6ff;
    --color-blue-100: #d1ecff;
    --color-blue-200: #aedfff;
    --color-blue-300: #76cdff;
    --color-blue-400: #35b0ff;
    --color-blue-500: #0787ff;
    --color-blue-600: #0061ff;
    --color-blue-700: #0048ff;
    --color-blue-800: #003bd7;
    --color-blue-900: #003399;
    --color-blue-950: #062365;

    --color-purple-50: #f5f0ff;
    --color-purple-100: #ede4ff;
    --color-purple-200: #ddcdff;
    --color-purple-300: #c5a5ff;
    --color-purple-400: #ab72ff;
    --color-purple-500: #943aff;
    --color-purple-600: #8c12ff;
    --color-purple-700: #8001ff;
    --color-purple-800: #6600cc;
    --color-purple-900: #5902b0;
    --color-purple-950: #350078;
}