@import "tailwindcss";

@import './css/buttons.css';
@import './css/definition.css';
@import './css/drawers.css';
@import './css/dropdowns.css';
@import './css/forms.css';
@import './css/searchbars.css';
@import './css/thumbnails.css';
@import './css/translation.css';

@theme {
    --color-primary-50: #fcf6fe;
    --color-primary-100: #f7e9fe;
    --color-primary-200: #f0d8fc;
    --color-primary-300: #e4b9f9;
    --color-primary-400: #d48cf4;
    --color-primary-500: #c76cee;
    --color-primary-600: #b03fde;
    --color-primary-700: #992dc3;
    --color-primary-800: #802a9f;
    --color-primary-900: #682380;
    --color-primary-950: #490d5e;

    --color-secondary-50: #fff9ec;
    --color-secondary-100: #fff3d4;
    --color-secondary-200: #ffe5a8;
    --color-secondary-300: #ffd36b;
    --color-secondary-400: #ffb930;
    --color-secondary-500: #fca311;
    --color-secondary-600: #e18205;
    --color-secondary-700: #b65c06;
    --color-secondary-800: #8c450b;
    --color-secondary-900: #6e370c;
    --color-secondary-950: #3e1a03;
}

* {
    box-sizing: border-box;
}

.inactive {
    display: none;
}

aside {
    @apply flex flex-col p-2 gap-4 w-[20%] h-screen;
}

main {
    @apply flex flex-row w-[80%] h-screen;
}

[data-role="left-leaf"] {
    @apply w-[30%] h-screen p-2 border-l-2;
}

[data-role="right-leaf"] {
    @apply w-full h-screen p-2 overflow-y-auto border-l-2;
}

*::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}