<div>
    <h2 class="mb-4">Paramètres</h2>
    <h3 class="mb-2">Thème</h3>
    <div data-role="input-wrapper">
        <div data-role="select-group" data-variant="w-fit">
            <label for="theme-variant" class="whitespace-nowrap">Variante du thème</label>
            <select id="theme-variant">
                <option value="light">Clair</option>
                <option value="dark">Sombre</option>
            </select>
        </div>
        <div data-role="select-group">
            <label for="theme">Thème</label>
            <select id="theme">
                <option value="default">Défault</option>
                <option value="nord">Nord</option>
            </select>
        </div>
    </div>
</div>